In [46]:

query = """
I am making a ecological momentary assessment app with flask backend and react frontend. 
Here are some of the files that I have created so far:


"""

In [47]:

fpath = "flask_app/app.py"
query += fpath
query += "\n"
query += "``` python"
query += "\n"
with open(fpath, "r") as f:
    query += f.read()
query += "```"
query += "\n"
query += "\n"

In [48]:

fpath = "flask_app/models.py"
query += fpath
query += "\n"
query += "``` python"
query += "\n"
with open(fpath, "r") as f:
    query += f.read()
query += "```"
query += "\n"
query += "\n"

In [49]:

fpath = "flask_app/blueprints/studies.py"
query += fpath
query += "\n"
query += "``` python"
query += "\n"
with open(fpath, "r") as f:
    query += f.read()
query += "```"
query += "\n"
query += "\n"

In [50]:

fpath = "react_frontend/src/pages/StudyDashboard.js"
query += fpath
query += "\n"
query += "``` python"
query += "\n"
with open(fpath, "r") as f:
    query += f.read()
query += "```"
query += "\n"
query += "\n"

In [51]:
query += """

You see the study backend and frontend. You also have my models. Now make an appropriate backend and frontend for ping templates.
    
"""

In [52]:
with open("gpt_query.txt", "w") as f:
    f.write(query)

         male hair_color  bald  hat  glasses  mustache  beard  facial_hair
name
Tom         1      black     1    0        1         0      0            0
Joe         1     blonde     0    0        1         0      0            0
Paul        1      white     0    0        1         0      0            0
Sam         1      white     1    0        1         0      0            0
George      1      white     0    1        0         0      0            0
Susan       0      white     0    0        0         0      0            0
Bill        1        red     1    0        0         0      1            1
Eric        1     blonde     0    1        0         0      0            0
Claire      0        red     0    1        1         0      0            0
Robert      1      brown     0    0        0         0      0            0
Anne        0      black     0    0        0         0      0            0
Maria       0      brown     0    1        0         0      0            0
Frans       1        red     0    0        0         0      0            0
Anita       0     blonde     0    0        0         0      0            0
Max         1      black     0    0        0         1      0            1
Bernard     1      brown     0    1        0         0      0            0
Herman      1        red     1    0        0         0      0            0
Alex        1      black     0    0        0         1      0            1
David       1     blonde     0    0        0         0      1            1
Peter       1      white     0    0        0         0      0            0
Richard     1      brown     1    0        0         1      1            1
Philip      1      black     0    0        0         0      1            1
Charles     1     blonde     0    0        0         1      0            1
Alfred      1        red     0    0        0         1      0            1

male
1    19
0     5
Name: count, dtype: int64
hair_color
black     5
blonde    5
white     5
red       5
brown     4
Name: count, dtype: int64
bald
0    19
1     5
Name: count, dtype: int64
hat
0    19
1     5
Name: count, dtype: int64
glasses
0    19
1     5
Name: count, dtype: int64
mustache
0    19
1     5
Name: count, dtype: int64
beard
0    20
1     4
Name: count, dtype: int64
facial_hair
0    16
1     8
Name: count, dtype: int64

              entropy
male         1.300035
hair_color   2.327420
bald         1.300035
hat          1.300035
glasses      1.300035
mustache     1.300035
beard        1.423998
facial_hair  1.084963